server:
  port: 8082

spring:
  cloud:
    consul:
      discovery:
        instance-id: ${spring.application.name}:instance2:${server.port}
        tags:
          - instance=2
          - version=1.0.0
