server:
  port: 8084

spring:
  cloud:
    consul:
      discovery:
        instance-id: ${spring.application.name}:instance3:${server.port}
        tags:
          - instance=4
          - version=1.0.0
