server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: organization-service

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:studs}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME:s367868}
    password: ${DB_PASSWORD:TJXbjhLGKcGPCMdR}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.example: INFO